.question {
  padding-bottom: 78px;

  .question-timer {
    padding-top: 15px;
    padding-bottom: 10px;

    .progress {
      margin-top: 15px;
    }
  }

  .question-head {
    padding: 20px;
    transition: padding 0.3s ease-in-out;
    border-bottom: 1px solid #dbdbdb;
    background-color: #f5f5f5;
  }

  .question-description {
    font-size: 2em;
    white-space: pre-wrap;
    margin-bottom: 10px;
  }

  &.t1 {
    .team { border-color: $corTimeA; }
    .question-head {
      padding-left: 140px;
    }
  }

  &.t2 {
    .team { border-color: $corTimeB; }
    .question-head {
      padding-right: 140px;
    }
  }

  .team {
    width: 100px;
    margin: 15px;
    border-width: 5px;
    border-style: solid;
    z-index: 100;
    border-radius: 100%;

    .score {
      box-shadow: 0px 1px 4px -1px #666 inset;
    }
  }

  .question-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .question-timer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  @media (max-width: 651px) {
    .team {
      width: 100%;
      margin: 0;
      border-radius: 0;
      position: relative;
      height: 90px;

      &::before { top: 10px; }
      .score { margin-top: 28px; }
    }

    &.t1 {
      .question-head { padding-left: 20px; }
    }

    &.t2 {
      .question-head { padding-right: 20px; }
    }

  }
}


// Alternatives
.alternative .label {
  font-size: 1.9em;
  font-weight: normal;
}
.alternative:hover > .label {
  color: rgb(247, 108, 19);
}
.alternative input {
  display: none;
}
.alternative .fa {
  color: #00b89c;
  font-size: 1em;
  margin-right: 15px;
  vertical-align: baseline;
}
.alternative .fa:not(.fa-dot-circle-o, .fa-circle)::before {
  content: '\f10c'
}
.alternative input:checked + .fa::before {
  content: '\f111'
}


// Action Buttons
.action-buttons {
  .button {
    height: 55px;
    font-size: 2em;
  }
  .fa {
    font-size: 0.8em;
  }
}
