### Visual Studio Code
.settings/
.vscode/
tsconfig.json
jsconfig.json

### Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lib-cov
coverage
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
